body {
	background-color: white;
	color: #010205;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 11.0pt;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
}

div {
	margin: 0;
	border: 0;
	padding: 0;
}

h1 {
	font-size: 170%;
	font-weight: bold;
	margin-top: 1ex;
	margin-bottom: 1.2em;
}

h2 {
	font-size: 150%;
	font-weight: bold;
	margin-top: 1ex;
	margin-bottom: 1.2em;
	padding: 5px 0px;
}

h3 {
	font-size: 130%;
	font-weight: bold;
	margin-top: 1ex;
	margin-bottom: 1.2em;
	padding: 3px 0px;
}

h4 {
	font-size: 100%;
	font-weight: bold;
	margin-top: 1ex;
	margin-bottom: 1.2em;
}

a {
    color: #07a;
    text-decoration: none;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

a:link {
}

a:visited {
}

a:hover {
	color: #325c80;
	text-decoration: underline;
}

a:active {
}

img {
	border: 0;
}

#navigator {
	background-color: #1d3649;
	color: white;
	text-align: right;
	margin-top: 50px;
	padding-top: 12px;
	padding-right: 40px;
	padding-bottom: 140px;
	padding-left: 0;
}

#navigator a {
	color: white;
	font-size: 108%;
}

#navigator a:hover {
	color: #c0e6ff;
}

#logo {
	float: left;
	margin-left: 60px;
	margin-top: -50px;
}

.download {
	font-size: 150%;
	font-weight: bold;
	color: white;
	background-color: #5aa700;
	padding: 11px;
	border-radius: 20px;
}

.download:hover {
	color: white;
	text-decoration: none;
}

.container { position:relative; padding: 0 0 0 55px; }

#main { 
    width:100px; 
    height:20px; 
    margin:0 0 5px 0;
    width: 64%;
}

#sidebar {
    position:absolute;
    top:0;
    bottom: 0;
    right: 0;
    width: 30%;
}

#main div {
	padding-left: 60px;
	padding-right: 50px;
}

#sidebar div {
	padding-left: 5px;
	padding-right: 20px;
}
