.codetext {
    font-family: Courier New, Monospace;
    font-size: 10pt;
}

.download_section {
    padding-left: 25px;
}

.download_files {
    padding-left: 50px;
}

.download_files hr {
    margin-right: 25px;
}

.download_main {
    width: 100%;
}

.download_main div {
    padding-left: 25px;
    padding-right: 25px;
}
